/*---------COMPONENTS--------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----------Estilos Comunes de Todas las Paginas-------------*/
#body {
  background-color: #000117;
}

/*--navbar--*/
.estiloLetrasNav {
  margin-right: 1rem;
}

.estiloLetrasNav:hover {
  border-bottom: 1px solid #e7c500;
  color: #e7c500;
}

/*--Footer---*/
.piePagina {
  width: 100%;
  background-color: rgba(10, 26, 42, 0.5333333333);
}

.piePagina .grupo1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.box p {
  color: white;
  font-family: "JetBrains Mono", monospace;
}

.piePagina .grupo1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piePagina .grupo1 .box figure img {
  width: 250px;
}

.piePagina .grupo1 .redSocial a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
}

.piePagina .grupo2 {
  width: 100%;
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: white;
}

/*---------------------------INDEX------------------------------*/
/*portada*/
.portadaIndex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 40em;
  background-image: url(../img/close-up-image-of-programer-working-at-his-desk-in-office.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  border-bottom: 1px solid #c501e2;
}

.frasePortadaIndex {
  text-align: center;
}

.estiloLetrasFrasePortadaIndex {
  font-family: "JetBrains Mono", monospace;
  color: #e7c400;
  text-shadow: 5px 5px 10px #c501e2;
  margin-bottom: 2rem;
}

.botonPortadaIndex {
  padding: 1rem;
  text-decoration: none;
  border: 2px solid #000117;
  border-radius: 10px;
  color: #e7c500;
  font-family: "JetBrains Mono", monospace;
  font-size: large;
  font-weight: bold;
}

.botonPortadaIndex:hover {
  transform: scale(1.1);
  color: #e7c500;
  background-color: rgba(0, 0, 0, 0.6);
}

.redesSocialesPortada {
  margin-top: 4rem;
  text-align: center;
}

.redesSocialesPortada a {
  text-decoration: none;
  color: #e7c500;
}

.redesSocialesPortada a:hover {
  color: #c501e2;
}

.redesSocialesPortada svg {
  width: 3rem;
  height: 3rem;
}

.redesSocialesPortada svg:hover {
  transform: scale(1.1);
}

/*Frase Index*/
.contenedorFraseIndex {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 0 5rem 0 5rem;
}

.contenedorFraseIndex h2 {
  text-align: center;
  color: #e7c500;
  text-shadow: 5px 5px 30px #c501e2;
  font-family: "JetBrains Mono", monospace;
  font-size: x-large;
}

.contenedorFraseIndex p {
  text-align: center;
  color: #93DA49;
  text-shadow: 5px 5px 30px #c501e2;
  font-size: large;
  font-family: "JetBrains Mono", monospace;
}

.contenedorFraseIndex a {
  color: #93DA49;
  text-decoration: none;
}

.contenedorFraseIndex svg:hover {
  transform: scale(1.2);
  color: #93DA49;
}

.contenedorFraseIndex svg {
  width: 6vw;
  height: 6vh;
}

.imagenSecundariaIndex {
  background-image: url(../img/imagenSobreMi3.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  border-top: 1px solid rgba(196, 1, 226, 0.568627451);
  border-bottom: 1px solid rgba(196, 1, 226, 0.568627451);
}

.fraseSecundariaIndex {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.fraseSecundariaIndex p {
  margin: auto;
  color: #e7c500;
  font-family: "JetBrains Mono", monospace;
  text-shadow: 5px 5px 30px #c501e2;
  font-size: xx-large;
  text-align: center;
}

/*Servicios Index*/
.contenedorServiciosIndex {
  width: 100%;
  height: 100%;
  background-color: white;
}

.tituloServiciosIndex {
  color: #2aad79;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.603);
  font-family: "JetBrains Mono", monospace;
  margin-top: 1rem;
}

.imagenServiciosIndex {
  width: 20rem;
  height: 20rem;
}

.contenedorImagenServiciosIndex {
  position: relative;
}

.contenedorImagenServiciosIndex:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.textoimagenServiciosIndex {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 30%;
  text-align: center;
  color: white;
  padding: 25%;
}

.contenedorImagenServiciosIndex:hover .textoimagenServiciosIndex {
  display: block;
  transition-delay: 1s;
}

/* Agenda Reunion*/
.agendaReunion {
  width: 100%;
  height: 30vh;
}

.agendaReunion h2 {
  text-align: center;
  color: #93DA49;
  font-size: x-large;
  font-weight: bold;
  font-family: "JetBrains Mono", monospace;
  text-shadow: 5px 5px 10px #e7c500;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.agendaReunion a {
  text-decoration: none;
  color: white;
}

.agendaReunion svg {
  width: 6vw;
  height: 6vh;
}

/*-----------------------SOBRE MI-----------------------------------*/
.fondoSobreMi {
  width: 100%;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/computer-program-coding-on-screen.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.capaFondo {
  width: 100%;
  height: 120vh;
  position: absolute;
  background: #000117;
  opacity: 0.7;
}

.parrafoSobreMi {
  z-index: 1;
  width: 40rem;
  height: 35rem;
  padding: 1rem 1rem;
  font-size: 15px;
  line-height: 1.5;
  background: rgba(0, 0, 0, 0.822);
  box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  text-align: justify;
  font-family: "JetBrains Mono", monospace;
  color: #e7c500;
  overflow: auto;
}

.imagenSobreMi {
  width: 25vw;
  height: 45vh;
  border-radius: 5px;
  float: left;
  margin-right: 1rem;
}

/*-------------SERVICIOS--------------------*/
#contenedorHabilidades {
  margin-bottom: 10rem;
}

.contenedorTituloHabilidades {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 3rem 1rem 1rem 1rem;
}

.contenedorTituloHabilidades h1 {
  font-family: "JetBrains Mono", monospace;
  color: #e7c500;
  font-size: x-large;
  text-align: center;
  text-shadow: 5px 5px 30px #c501e2;
  margin-bottom: 2rem;
}

.contenedorTituloHabilidades h2 {
  font-family: "JetBrains Mono", monospace;
  color: #93DA49;
  font-size: large;
  text-shadow: 5px 5px 30px #c501e2;
  margin-left: 15rem;
  margin-bottom: 2rem;
}

.contenedorTituloHabilidades p {
  font-family: "JetBrains Mono", monospace;
  color: #c501e2;
  text-align: center;
  font-size: x-large;
  text-shadow: 5px 5px 30px #c501e2;
}

/*----------------------PROYECTOS--------------------------*/
#contenedorProyectos {
  margin-bottom: 10rem;
}

.tituloProyectos {
  margin: 3rem 1rem 3rem 1rem;
  font-family: "JetBrains Mono", monospace;
  text-align: center;
  color: #e7c500;
  text-shadow: 10px 10px 20px #c501e2;
}

.contenedorProyectos {
  width: 100%;
  height: 100%;
  margin-top: 3%;
  margin-bottom: 2rem;
}

.contenedorProyectos h2 {
  font-family: "JetBrains Mono", monospace;
  text-align: center;
  color: #93DA49;
  font-size: x-large;
  padding: 0 5rem 0 5rem;
}

.contenedorProyectos p {
  font-family: "JetBrains Mono", monospace;
  text-align: justify;
  color: #c501e2;
  padding: 0 5rem 0 5rem;
}

.contenedorProyectos a {
  text-decoration: none;
  color: #c501e2;
}

.contenedorProyectos a:hover {
  color: #c501e2;
}

.contenedorProyectos svg:hover {
  transform: scale(1.1);
}

.contenedorProyectos svg {
  width: 5vw;
  height: 5vh;
}

.marginCarousel {
  border: 1px solid white;
  box-shadow: 1px 1px 5px 5px rgba(196, 1, 226, 0.7529411765);
}

/*-------------------CONTACTAME-------------------------*/
.contenedorContacto {
  width: 100%;
  height: 100%;
  margin-bottom: 10rem;
  padding-top: 3rem;
}

.tituloContacto {
  width: 100%;
  height: 10vh;
  text-align: center;
  color: #e7c500;
  font-family: "JetBrains Mono", monospace;
  font-size: xx-large;
  text-shadow: 10px 10px 30px rgba(196, 1, 226, 0.6117647059);
}

.contenedorContacto a {
  color: #c501e2;
  margin: 4%;
  text-decoration: none;
  text-align: center;
}

.contenedorContacto a:hover {
  transform: scale(1.1);
}

.contenedorContacto svg {
  width: 5vw;
  height: 5vh;
}

.contenedorContacto p {
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  font-size: small;
}

/*-----------------------MEDIA QUERYS------------------------*/
@media screen and (max-width: 800px) {
  /*Estilos Comunes - Responsive*/
  .piePagina .grupo1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
  /*Home Responsive*/
  .contenedorFraseIndex {
    margin-top: 3rem;
  }
  .contenedorFraseIndex p {
    font-size: 15px;
  }
  /*Sobre Mi - Responsive*/
  .fondoSobreMi {
    height: 120vh;
  }
  .capaFondo {
    height: 120vh;
  }
  .parrafoSobreMi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .imagenSobreMi {
    width: 80%;
    height: 50vh;
  }
}
@media screen and (max-width: 500px) {
  /*Home Responsive*/
  .portadaIndex {
    height: 30em;
  }
  .contenedorFraseIndex {
    padding: 0 3rem 0 3rem;
  }
  /*Habilidades Responsive*/
  .contenedorTituloHabilidades h1 {
    font-size: large;
  }
  .contenedorTituloHabilidades h2 {
    font-size: medium;
    margin-left: 10rem;
  }
  .contenedorTituloHabilidades p {
    font-size: large;
  }
  /*Proyectos Responsive*/
  .tituloProyectos {
    font-size: x-large;
  }
  .contenedorProyectos h2 {
    font-size: large;
  }
  .contenedorProyectos p {
    font-size: 15px;
  }
}
@media screen and (max-width: 350px) {
  /*Estilos comunes responsive*/
  .piePagina .grupo1 .box figure img {
    width: 170px;
  }
  .box p {
    font-size: x-small;
  }
  /*Home Responsive*/
  .contenedorFraseIndex {
    padding: 0 2rem 0 2rem;
  }
  .contenedorFraseIndex h2 {
    font-size: large;
  }
  .contenedorFraseIndex p {
    font-size: small;
  }
  .imagenSecundariaIndex {
    height: 15em;
  }
  .fraseSecundariaIndex p {
    font-size: medium;
  }
  .imagenServiciosIndex {
    width: 15rem;
    height: 15rem;
  }
  /* Sobre Mi Responsive*/
  .imagenSobreMi {
    height: 40vh;
  }
  /*Habilidades Responsive*/
  .contenedorTituloHabilidades h2 {
    font-size: 15px;
    margin-left: 5rem;
  }
}
@media screen and (max-width: 250px) {
  .contenedorFraseIndex {
    padding: 0 3rem 0 3rem;
  }
  .contenedorFraseIndex h2 {
    font-size: medium;
  }
  .contenedorFraseIndex p {
    font-size: x-small;
  }
  .agendaReunion {
    height: 35vh;
  }
}
/*-----------BASE--------------*/

/*# sourceMappingURL=style.css.map */
