/*-------------SERVICIOS--------------------*/

#contenedorHabilidades{
    margin-bottom: 10rem;
}

.contenedorTituloHabilidades{
    width:  100%;
    height: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 3rem 1rem 1rem 1rem;

    

}

.contenedorTituloHabilidades h1{
    font-family: 'JetBrains Mono', monospace ;
    color: #e7c500;
    font-size: x-large;
    text-align: center;
    text-shadow: 5px 5px 30px #c501e2;
    margin-bottom: 2rem;
    
}

.contenedorTituloHabilidades h2{
    font-family: 'JetBrains Mono', monospace;
    color: 	#93DA49;
    font-size: large;
    text-shadow: 5px 5px 30px #c501e2;
    margin-left: 15rem;
    margin-bottom: 2rem;
}

.contenedorTituloHabilidades p{
    font-family: 'JetBrains Mono', monospace;
    color: #c501e2;
    text-align: center;
    font-size: x-large;
    text-shadow: 5px 5px 30px #c501e2;
    
}

